// customized Burger icon settings should be done first. More details: https://github.com/jonsuh/hamburgers
$hamburger-padding-x           : 30px;
$hamburger-padding-y           : 30px;
$hamburger-layer-width         : 30px;
$hamburger-layer-height        : 1px;
$hamburger-layer-spacing       : 6px;
$hamburger-layer-color         : rgb(236, 133, 19);
$hamburger-layer-border-radius : 0px;
$hamburger-hover-opacity       : 1;
$hamburger-active-layer-color  : rgba(0,0,0,.84);
$hamburger-active-hover-opacity: $hamburger-hover-opacity;

@import './hamburgers/hamburgers.scss';

$navlink-color: rgba(0,0,0,0.45);
$main-text-color : rgba(0,0,0,.84);

// $background-image: url('https://taojiangscholar.com/static/media/buddism-cover.d48deeab.jpg');
html, body, #app {
    // background-image: $background-image;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;

    *::selection{
        background-color: rgba(0,0,0,0.1);
    }

    button::selection, button:active, button:focus {
        outline: none;
        border: none;
    }
}

canvas {
    margin: 0 auto;
}

nav {
    background-color: rgb(236, 133, 19);
    height: 100%;
    z-index: 999;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 21px;

    display: flex;
    flex-direction: column;
    & div#nav-content {
        flex: 1;
    }
    
    #nav-list {
        padding-left: 0;
        width: 100vw;

        li {
            text-align: left;
            cursor: pointer;
            margin: 20px auto;
            width: 70%;

            &:hover{
                text-decoration: underline;
            }
        }

        #list-container {
            position: absolute;
            margin: 0 auto !important;
        }
    }
}

.footer {
    font-size: 11px;
    text-transform: uppercase;
    color: $navlink-color;
    text-align: center;
    padding: 20px 0 11px 0;
    margin-bottom: 1em;

    p {
        max-width: 100%;
    }

    .icon-gap {
        display: inline-block;
        width: 10px;
    }

    .icon {
        height: 18px;
    }

    &:hover {
        color: $main-text-color;

        a {
            color: $main-text-color;
            text-decoration: underline;
        }
    }

    a {
        color: $navlink-color;
        cursor: pointer;
        text-decoration: none;
    }

    .footer-text {
        text-align: center;
    }
}